production:
    adapter: 'postgresql'
    database: '{{ .Env "DB" }}'
    host: 'postgres'
    username: '{{ .Env "DB_USER" }}'
    password: '{{ .Env "DB_PASSWORD" }}'
    encoding: utf8
    port: 5432

